/* ProductGrid.js */

.product-grid {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  text-decoration: none;
}

.product-card {
  border: 1px solid #726b6b;
  background-color: #ffffffce;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 5px 10px #a9a9b9;
  max-width: 373px;
  max-height: 350px;
  height: 373px;
  width: 350px;
  position: relative;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  animation: fadeInAnimation 4s ease;
  text-decoration: none;
  text-align: center;
  overflow-y: auto;
}

.product-description-container {
  height: 150px;
  text-align: center;
  overflow-y: auto;
}

.product-card {
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-img {
  max-width: 140px;
  max-height: 140px;
  width: auto;
  object-fit: contain;
  border-radius: 8px;

  height: auto;
}

.image-container {
  max-width: 140px;
  max-height: 140px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.product-card:hover {
  opacity: 1;
  transform: translateY(-20px);
}

.product-image {
  max-width: 140px;
  max-height: 140px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.product-description {
  font-weight: bold;
  white-space: normal;
}
.product-category {
  font-weight: bold;
}

.product-name,
.product-description,
.product-price,
.product-category {
  margin-top: 8px;
  color: black;
}

.showAddProduct-btn {
  display: block;
  position: relative;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  border-radius: 20px;
  transition: all 0.2s;
  color: black;
  background-color: white;
  animation: fadeInAnimation 4s ease;
}

.showAddProduct-btn:hover {
  box-shadow: 0 5px 20px #a9a9b9;
  transform: translateY(-5px);
}

.edit-product-btn,
.delete-product-btn,
.submit-profile-image-btn,
.add-product-btn {
  position: relative;
  text-transform: uppercase;
  justify-content: center;
  font-size: 15px;
  margin-top: 20px;
  padding: 5px 5px;
  border-radius: 10px;
  transition: all 0.2s;
  color: black;
  background-color: white;
}

.edit-product-btn:hover,
.delete-product-btn:hover,
.submit-profile-image-btn:hover,
.add-product-btn:hover {
  box-shadow: 0 5px 20px #a9a9b9;
  transform: translateY(-5px);
}

.edit-product-btn:active,
.delete-product-btn:active,
.submit-profile-image-btn:active,
.add-product-btn:active {
  box-shadow: 0 5px 20px #a9a9b9;
  transform: translateY(-1px);
}

/* User.js */
.bodyUser {
  font-family: Arial, sans-serif;
  background-color: #0a1118;
  height: 100%;
}

.add-product-section {
  position: relative;
  background-color: #ffffffce;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 20px #a9a9b9;
  margin-top: 20px;
  width: 650px;
  height: 450px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
  animation: fadeInAnimation 4s ease;
}

.add-product-section:hover {
  opacity: 1;
  transform: translateY(-20px);
}

.product-image-guide {
  font-size: 25px;
  font-weight: bold;
  justify-content: left;
  display: flex;
}

.product-image-edit-guide {
  font-size: 15px;
  justify-content: left;
  display: flex;
}

.input-product-images,
.input-product-edit-images,
.input-product-name,
.input-product-description,
.input-product-price,
.input-product-category,
.input-product-location {
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin-top: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.input-product-images::placeholder {
  color: black;
}
.input-product-edit-images::placeholder{
  color: black;
}
.input-product-name::placeholder {
  color: black;
}
.input-product-description::placeholder {
  color: black;
}
.input-product-price::placeholder {
  color: black;
}

.input-product-category::placeholder {
  color: black;
}

.input-product-location::placeholder {
  color: black;
}

/* user profile card */

.profile-card-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-profile {
  position: relative;
  z-index: 100;
  width: 300px;
  height: 400px;
  margin: 20px;
  background: #21212c;
  box-shadow: 0 5px 25px #a9a9b9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
  animation: fadeInAnimation 4s ease;
}

.user-profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #1b1b1b;
}

.user-name {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
}

.upload-profile-image-title {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-transform: initial;
}

.user-profile:hover {
  opacity: 1;
  transform: translateY(-20px);
}

.product-Links {
  text-decoration: none;
}
