/* --------------------------------- NAVIGATION PAGE CSS --------------------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
.offcanvas-panel {
  background-color: rgb(20, 19, 19);
}

.nav-title {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.4em;
}

.offcanvas-nav-title {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  color: white;
}

.nav-link:hover {
  border: solid 1px white;
  width: auto;
  border-radius: 20%;
}

.nav-title {
  color: black;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
/* --------------------------------- HOME PAGE CSS --------------------------------------  */
.home {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  transition: transform 5s ease;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.welcome-text {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* --------------------------------- HOME PAGE CSS --------------------------------------  */
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeInAnimation 5s ease;
}

.display-3 {
  font-family: 'Lato', sans-serif;
}

#App,
body,
html {
  width: 100%;
  height: 100%;
}

.about-value-content {
  font-size: 20px;
}

/* About page css */
.about-image-container {
  height: 400px; /* Set the desired height for the images */
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 992px) {
    height: 600px; /* Adjust this value for wider screens as needed */
  }
}

.about-image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-Title {
  font-family: 'Lato', sans-serif;
  color: white;
}

.about-Sub-Title {
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: left;
}

.caption {
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: white;
  letter-spacing: 0.4em;
  margin-bottom: 40px;
}

.about-values-item {
  text-align: left;
}

.about-values-item .about-Sub-Title {
  display: block;
}

.about-values-item .about-value-content {
  display: block;
}

/* Add spacing between columns */
.about-values-item {
  padding-right: 20px;
}
