body {
  padding: 0;
  margin: 0;
}

/* --------------------------------- LOGIN PAGE CSS --------------------------------------  */
.title{
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.4em;
  
}
.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 600px;
  height: 600px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loginBody input[type='email'],
.loginBody input[type='password'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;

  border-radius: 24px;
  transition: 0.25s;
}

.loginBody input[type='email']:focus,
.loginBody input[type='password']:focus {
  width: 300px;
  border-color: #2ecc71;
}

.loginBody button {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: rgb(13, 13, 13);
  border-radius: 24px;
  transition: 0.25s;
  margin: 10px auto;
}

.loginBody button:hover {
  width: 300px;
  border-color: #2ecc71;
  background-color: #2ecc71;
}

.modalContainer p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
  font-family: 'Arial', sans-serif;
  text-align: justify;
}
.footer {
  text-align: center;
}
.footer p:hover {
  text-decoration: underline;
}

#forgetPassword {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#forgetPassword :hover {
  text-decoration: underline;
}

.facebook-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.facebook-icon svg {
  /* color: #1877f2; */
  font-size: 20px;
}

.google-icon {
  width: 40px;
  height: 40px;
  background-color: #ea4335;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.google-icon svg {
  color: #ea4335;
  font-size: 20px;
}

.login-button {
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button.facebook {
  background-color: #3b5998;
}

.login-button.google {
  background-color: #db4a39;
}

.login-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.login-button {
  margin-bottom: 10px;
}


/* --------------------------------- NAVIGATION PAGE CSS --------------------------------------  */

.offcanvas-panel{
  background-color: #000000;
 
}


.hover-effect:hover{
  color:white;
  text-align: center;
  letter-spacing: 0.2em;
}


.nav-title{
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.4em;

}

.offcanvas-nav-title{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

}

/* --------------------------------- HOME PAGE CSS --------------------------------------  */
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeInAnimation 5s ease;
}
