.messengerbody {
  background-color: #f3f2f3;
  margin: 0;
  padding: 0;
}

.messageListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#chat {
  width: 80%;
  height: 100%;
  max-width: 800px;
  max-height: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

#messageListContainer {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align messages to the left */
  margin: 10px;
}

#message-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

#message-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#message-btn {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chatContainer {
  height: 100%;
  width: 100%;
}

.chatTitle {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  text-decoration: underline;
}

.userMessage {
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
  align-self: flex-end;
}

.otherMessage {
  background-color: #d9f7e8;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
  align-self: flex-start;
}

.messageUser {
  font-size: 0.8rem;
  margin-top: 4px;
}

.userMessage li {
  font-size: 20px;
}

.otherMessage li {
  font-size: 20px;
}

.messageUser {
  font-size: 16px;
}

.messages {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.participant {
  flex-grow: 1;
  margin-right: 10px;
}

.participant-text {
  font-weight: bold;
  color: #333;
}

.last-message {
  flex-grow: 2;
}

.last-message-text {
  color: #666;
}
