.messengerbody {
  background-color: #f3f2f3;
  margin: 0;
  padding: 0;
}

.messageListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messages {
  display: flex;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.participant {
  flex: 1;
}

.last-message {
  flex: 3;
}

/* Additional styling for better readability */
.participant p,
.last-message p {
  margin: 0;
  padding: 0;
}

#messages {
  padding-bottom: 30%;
}

/* li {
  list-style-type: none;
  margin-bottom: 10px;
  background-color: #6929ca;
  padding: 5px;
  border-radius: 10px;
  color: white;
  width: 50%;
}

li span {
  font-style: italic;
  font-weight: bolder;
  color: #b5b0b9;
} */

#chat {
  width: 80%;
  margin: auto;
}

#message-form {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b7b5b9;
}

.sent {
  text-align: right;
  background-color: #a79cb3;
  margin-left: 50%;
}

.sent span {
  margin-left: 5px;
  color: #6929ca;
}
