
.singleProductContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  margin: 50px;
  color: white;
}


.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.profileImgContainer {
  border: 5px solid black;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s; 
}
.profileImgContainer:hover {
  background-color: black; 
 
}

.profileImg {
  width: 150px;
  height: 150px;
}

.email {
  margin-top: 10px;
  font-size: 18px;
  color: black;
  font-family:'Times New Roman', Times, serif
}

.carouselAndDetailsContainer {
  display: flex;
  margin-top: 10%;
}
.carouselContainer {
  flex: 1;
  max-width: 50%;
  margin-right: 20px;
}
.carouselImg {
  max-width: 100%;
  height: auto;
}

.itemDetails {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}


.productInfo {
  text-align: left;
  padding-left: 20px;
  color: black;
}

.singleProductTitle {
  font-size: 40px;
  margin-bottom: 10px;
  font-family:'Times New Roman', Times, serif

}

.productDescription {
  font-size: 18px;
  margin-bottom: 20px;
}

.productPrice {
  font-size: 20px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; 
  color: white;
  border-radius: 50%; 
  opacity: 0.8; 
}


.thumbnailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.thumbnailImg {
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
  border: 1px solid #c0bfbf;
  transition: border 0.3s ease;
}

.thumbnailImg:hover {
  border: 1px solid #333;
}

.thumbnailImg.active {
  border: 2px solid blueviolet;
}

.indivitualProductSendMessage {
  background-color: transparent;
  color: black;
  border: 1px solid black;

  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.indivitualProductSendMessage:hover {
  background-color: black;
  color: white;
}






/* UserProducts.js */

.userProductsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.upProfileContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.upProfileImgContainer {
  margin-right: 20px;
  border: 5px solid black;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s; 
}


.upProfileImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.upEmail {
  font-size: 18px;
}

.upCarouselAndDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.upProduct-item {
  width: calc(33.33% - 20px);
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease; 
}
.upProduct-item:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); 
}

.upProduct-img {
  max-width: 100%;
  height: 300px;
  width: 400px;
  object-fit: contain;
  margin-bottom: 10px;
}

.upItemDetails {
  text-align: left;
}

.upProductInfo {
  padding: 10px;
}

.upSingleProductTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.upProductDescription {
  font-size: 14px;
  margin-bottom: 5px;
}

.upProductPrice {
  font-size: 16px;
  color: #ff6600;
  margin-bottom: 5px;
}

.upProduct-category {
  font-size: 14px;
  color: #666;
}
