
.singleProductContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  margin: 50px;
  color: white;
}


.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.profileImgContainer {
  border: 5px solid black;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s; 
}
.profileImgContainer:hover {
  background-color: black; 
 
}

.profileImg {
  width: 150px;
  height: 150px;
}

.email {
  margin-top: 10px;
  font-size: 18px;
  color: black;
  font-family:'Times New Roman', Times, serif
}

.carouselAndDetailsContainer {
  display: flex;
  margin-top: 10%;
}
.carouselContainer {
  flex: 1;
  max-width: 50%;
  margin-right: 20px;
}
.carouselImg {
  max-width: 100%;
  height: auto;
}

.itemDetails {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}


.productInfo {
  text-align: left;
  padding-left: 20px;
  color: black;
}

.singleProductTitle {
  font-size: 40px;
  margin-bottom: 10px;
  font-family:'Times New Roman', Times, serif

}

.productDescription {
  font-size: 18px;
  margin-bottom: 20px;
}

.productPrice {
  font-size: 20px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; 
  color: white;
  border-radius: 50%; 
  opacity: 0.8; 
}




.indivitualProductSendMessage {
  background-color: transparent;
  color: black;
  border: 1px solid black;

  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.indivitualProductSendMessage:hover {
  background-color: black;
  color: white;
}