/* Map.css */
.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(11, 11, 11);
}

.leaflet-container {
  width: 80vh;
  height: 80vh;
}
