/* Map.css */
.all-container {
  display: flex;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}

.mapContainer {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  max-height: 80vh;
  max-width: 80vh;
}

.address-container {
    display: flex;
    position: absolute;
    top: 10px; /* Adjust the top position according to your design */
    right: 10px; /* Adjust the left position according to your design */
    z-index: 2000; /* Ensure the container is above the map */
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width:auto
  
}

.input-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 50%;
}

.locateButton {
  justify-content: center;
  background-color: black;
  color: #fff;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

/* All Products */

.allProducts-Container {
  flex: 0.7;
  height: 100%;
  overflow-y: auto;
}

.allProducts-Container::-webkit-scrollbar {
  width: 10px;
}

.product-texts {
  margin: 0;
  padding: 5px 0;
  text-decoration: none;
  color: #333;
}
